.navbar-nav {
  margin-left: auto;
}

.navbar-nav li a {
  color: black !important;
  font-size: 18px;
  padding-left: 33px !important;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}

.navbar-toggler {
  background-color: black;
}

/* end */
/* hero section start */

.hero-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-overlay {
  /* background-color: rgba(236, 235, 235, 0.5); */
  background-color: transparent;
  width: 100%;
  padding: 80px 0 50px 0;
}

.hero-heading {
  font-size: 45px;
  font-weight: 700;
  font-family: Museo Sans, sans-serif;
}

.hero-heading span {
  font-weight: normal;
}

ul li a {
  text-decoration: none;
  color: #ffff;
  line-height: 2;
  font-weight: 500;
}

ul li a:hover {
  color: #ffff;
}

.btn-s {
  background-color: #bd0a20;
  color: white;
  border-color: #bd0a20;
  font-size: 16px;
  border: 2px solid #bd0a20;
  padding: 15px 30px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.btn-s:hover {
  background-color: transparent;
  color: #ffff;
  transition: 2s;
}

.hover-div {
  border-radius: 5px;
  padding-bottom: 5px;
  transition: s;
}

.hover-div:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* card section start */
.cards-section {
  padding: 60px 0 30px 0;
}

.card {
  cursor: pointer;
}

.card:hover {
  background-color: brown;
  color: #ffff;
  transition: background-color 2s;
}

/* the end */
.ourteam-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.team-overlay {
  padding: 80px 0 50px 0;
  background-color: rgb(0, 0, 0, 0.5);
}

.team-card {
  text-align: center;
}

/* end */

.contect-section {
  padding: 80px 0 50px 0;
}

.ancher1 {
  color: black;
}

.ancher1:hover {
  color: black;
}




.footer-distributed {
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 16px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
  ;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }

}

