.success-message {
    margin: 20px;
    background: green;
    color: white;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
}

.banner-updated {
    margin: 20px;
    background: green;
    color: white;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
}

.error-message {
    color: white;
    background-color: red;
    font-size: 17px;
    margin: 20px;
    text-align: center;
    padding: 10px;
}



.error-msg {
    color: red;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.preview-image {
    max-width: 200px;
    max-height: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.card-header {
    background-color: transparent !important;
}

.product_img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.justify-center {
    justify-content: center;
}

.preview-image-height {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.datetime-input {
    padding: 10px;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 100%;
}

/* image preview css start */
#preview-container {
    overflow-x: auto;
    white-space: nowrap;
}

.image-wrapper {
    display: inline-block;
    vertical-align: middle;
}

.image-container {
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

.remove-image {
    position: absolute;
    top: 5px;
    right: 12px;
    background-color: rgb(243, 7, 7);
    color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* image preview css start */
.fa-users:before {
    content: "\f0c0";
    font-size: 0.9rem;
}

.fa-th:before {
    content: "\f00a";
    font-size: 0.92rem;
}

.fa-palette:before {
    content: "\f53f";
    font-size: 0.99rem;
}

.la-box:before {
    content: "\f466";
    font-size: 1.2rem;
}

.fa-flag:before {
    content: "\f024";
    font-size: 0.9rem;
}

.avatar-xl {
    width: 15.5rem;
}

.rounded-circle {
    border-radius: 5% !important;
}

.avatar-sl {
    width: 7.5rem;
}

.mdi-account-circle::before {
    content: "\f0009";
    color: blueviolet;
}
.inspect-logo{
    height: 180px;
    width: 100%;
}